.WeatherForecast {
  text-align: center;
  margin-top: 20px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: auto;
}
.WeatherForecast-temperature-max {
  margin-left: 5px;
}

.row {
  display: inline-flex;
  flex-direction: row;
  margin: 15px;
}
.col {
  margin-inline-start: 5px;
}
